In [136]:
'''
from: https://www.ritchieng.com/machinelearning-one-hot-encoding/
'''

import numpy as np
import pandas as pd

In [162]:
# load dataset
# X = pd.read_csv('titanic_data.csv')
X = pd.read_csv('titanic_data.csv', na_values=['NA'])
X['Age'] = X['Age'].fillna(0)
X['Cabin'] = X['Cabin'].fillna('Not Assigned')
# X = X.replace(np.nan,'0', regex=True) # all data frame
X.head(6)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,Not Assigned,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,Not Assigned,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,Not Assigned,S
5,6,0,3,"Moran, Mr. James",male,0.0,0,0,330877,8.4583,Not Assigned,Q

In [164]:
# limit to categorical data using df.select_dtypes()
X = X.select_dtypes(include=[object])
X.head(6)

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,Not Assigned,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,Not Assigned,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,Not Assigned,S
5,"Moran, Mr. James",male,330877,Not Assigned,Q

In [165]:
# check original shape
X.shape

(891, 5)

In [166]:
# import preprocessing from sklearn
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder

In [167]:
# view columns using df.columns
X.columns

Index(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')

In [168]:
le = preprocessing.LabelEncoder()
X['Name']= le.fit_transform(X['Name']) 
X['Sex']= le.fit_transform(X['Sex']) 
X['Ticket']= le.fit_transform(X['Ticket']) 
X['Cabin']= le.fit_transform(X['Cabin']) 
X['Embarked']= le.fit_transform(X['Embarked']) 
X.head()

TypeError: Encoders require their input to be uniformly strings or numbers. Got ['float', 'str']

In [150]:
# TODO: create a LabelEncoder object and fit it to each feature in X
# 1. INSTANTIATE
# encode labels with value between 0 and n_classes-1.
# le = preprocessing.LabelEncoder()

# print(cols)
# 2/3. FIT AND TRANSFORM
# use df.apply() to apply le.fit_transform to all columns
# X_2 = X.apply(le.fit_transform)
# X_2.head()

In [134]:
# TODO: create a OneHotEncoder object, and fit it to all of X

# 1. INSTANTIATE
enc = preprocessing.OneHotEncoder()

# 2. FIT
enc.fit(X)

# 3. Transform
onehotlabels = enc.transform(X).toarray()
onehotlabels.shape

# as you can see, you've the same number of rows 891
# but now you've so many more columns due to how we changed all the categorical data into numerical data

TypeError: Encoders require their input to be uniformly strings or numbers. Got ['float', 'str']